input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: auto;
    box-sizing: border-box;
    border: none;
    background: #4CAF50; /* Green */
    color: white;
    text-align: center;
    border-radius: 12px;
    width: 200px;
    font-size: 20px;
  }
